html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6rem;
}
body {
    font-size: 1.6rem;
}



/* header */
.header {
    width: 100%;
    height: auto;
    
}
.contact {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    margin: 0px 190px;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
}
.contact__work {
    display: flex;
    list-style: none;
}
.contact__item:first-child {
    border-right: 1px solid #D7D7D7;
    padding-right: 10px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #2B2B2B;
}
.contact__item:first-child > i {
    font-size: 2rem;
    margin-right: 5px;
}
.contact__item:last-child {
    padding-left: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #2B2B2B;
}
.social {
    display: flex;
    list-style: none;
}
.social__item  a > i {
    font-size: 2rem;
    color: black;
}
.social__item  a > i:hover {
    color: green;
}
.social__item + .social__item {
    margin-left: 20px;
}
/* midder */
.midder {
    width: auto;
    display: flex;
    padding: 19px 0px;
    margin: 0px 190px;
    align-items: center;
}
.logoweb {
    margin-right: 103px;
}
.search {
    display: flex;
    flex-grow: 1;

}
.search__sel {
    padding: 15px 20px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: -0.025em;
    color: #2B2B2B;   
    border: none;
    background: #F4F4F4;
    
}
.search__text {
    flex-grow: 1;
    padding: 17px 26px;
    background: #F4F4F4;
    border: none;
    /* outline: #D7D7D7; */
}
.search__text::placeholder {
    text-transform: capitalize;
}
.search__sel::before {
    content: "1244";
    display: block;
    width: 5px;
    height: 20px;
    background-color: #000;
    margin-right: 19px;
    z-index: 20;
}
.search__btn {
    padding: 17px 24px;
    border: none;
    background-color: rgba(116, 182, 199, 1);
    color: #fff;
}
/* cart */
.cart {
    display: flex;
    margin-left: 95px;
    list-style: none;
}
.cart__item + .cart__item {
    margin-left: 15px;
}
.cart__item a > i {
    font-size: 2rem;
    color: #000;
}
.cart__item a > i:hover {
    color: blue;
}
.cart__item:last-child {
    position: relative;
}
.cart__dot {
    display:block;
    width: 7px;
    height: 7px;
    background-color: red;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}
/* nav */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 190px;
    background-color: rgba(43, 43, 43, 1);
    height: 59px;
}
.nav__menu {
    list-style: none;  
    height: 100%;
    padding: 21px 0px;
    background-color: rgba(116, 182, 199, 1);
    margin-bottom: 0;
    padding-left: 0;
    z-index: 4;
}

.nav__item > a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 19px;
    max-height: 59px; 
}
.nav__item > a > span {
    margin: 0px 9px;
}
.nav__item:hover .nav__sub-menu {
    display: block;
    z-index: 5;
}
.nav__sub-menu {
    overflow: hidden;
    display: none;
    list-style: none;
    margin-top: 21px;
    padding: 0;
    background-color: rgba(116, 182, 199, 1);
    
}
.nav__subitem {
    padding: 10px;
    width: 100%;
    text-align: center;
}
.nav__subitem > a {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration: none;
    text-transform: capitalize;
    color: green;
}
.nav__subitem:hover {
    background-color: yellow;
}
/* navbar */
.navbar {
    display: flex;
    list-style: none;
}
.navbar__item {
    padding: 20px;
}
.navbar__item > a {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar__item:hover > a {
    color: #74B6C7;
}

.navbar__item:nth-child(2){
    position: relative;
    z-index: 3;
}
.navbar__item:nth-child(2):hover .navbar__sub {
    display: block;
}
.navbar__sub {
    width: 200px;
    position: absolute;
    overflow: hidden;
    display: none;
    list-style: none;
    margin-top: 21px;
    padding: 0;
    background-color: rgba(116, 182, 199, 1);
}
.navbar__subitem {
    padding: 10px;
    width: 100%;
   
}
.navbar__subitem > a {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration: none;
    text-transform: capitalize;
    color: green;
}
.navbar__subitem:hover {
    background-color: yellow;
}
/* banner */
.banner {
    width: 100%;
    height:auto;
}
.banner__img {
    position: relative;
    width: 100%;
}
.banner__img > img {
    width: 100%;
    height: auto;
    z-index: 0;
}
.bn-content {
    max-width: 530px;
    position: absolute;
    top:17.5%;
    left: 13.7%;
    z-index: 1;
}
.bn-content__tagline {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 122%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    
}
.bn-content__title {
    margin-top:29px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 122%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.bn-content__special {
    font-weight: 400;
    font-size: 9.6rem;
    line-height: 122%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.bn-content__descrpition {
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: -0.025em;
    color: #FFFFFF;
}
.bn-content__btn {
    margin-top: 47px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.59541rem;
    line-height: 2.8rem;
    background-color: #000;
    padding: 15px;
    border:1px solid #fff;
    cursor:pointer;
}
.bn-content__btn:hover {
    background-color: #fff;
    color: #000;
}
/* icon */
.icon {
    width: 100%;
    display:flex;
    list-style:none;
    padding:43px 190px;
    background: #F5F5F5;
    justify-content:space-between;
}
.icon__item {
    width:calc((100% - 372px)/3);
    display:flex;
    align-items:center;
}
.icon__img {
    margin-right:15px;
}
.icon__title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #414141;
    margin-bottom:7px;
}
.icon__description {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #474747;
}
/* bradns */
.brands {
    width: 100%;
    height: auto;
    padding:63px 199px;
    text-align:center;
}
.brands__title {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 2.3rem;
    color: #2B2B2B;  
    margin-bottom:35px;
    
}
.brands__list {
    height:250px;
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:center;
}
.brands__item {
    width:calc(100%/3);
    height:100%;
    border:1px solid #ccc;
    justify-content:center;
    align-items:center;
    display:flex;
}
/* deal */
.deal {
    width: 100%;
    height: 200px;
    border: 3px solid red;
    background: #313A47;
}
.list-product {
    width: 100%;
    height: 200px;
    border: 3px solid red;
}
.letter {
    width: 100%;
    height: 200px;
    border: 3px solid red;
}
.related {
    width: 100%;
    height: 200px;
    border: 3px solid red;
}
.addcart {
    width: 100%;
    height: 200px;
    border: 3px solid red;
}
.lorem {
    width: 100%;
    height: 200px;
    border: 3px solid red;
}
.footer {
    width: 100%;
    height: 200px;
    border: 3px solid red;
}

/* banner */

  