html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6rem;
}
body {
    font-size: 1.6rem;
}
/* block star + price */
.star {
    margin:7px auto;
    text-align: center;
    color:#74B6C7;
}
.price {
    text-align: center;
}
.price__sale {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.3rem;
    text-align: center;
    color: #74B6C7;
}
.price__cost {
    font-size: 1.3rem;
    line-height: 2.3rem;
    color:#ccc;
    text-decoration: line-through;
}
/* end block */
/* Modifier */
.star--sm {
    font-size: 1rem;

}
.price--lg {
    font-size: 1.8rem;
    line-height: 2.4rem;
}
.underline {
    text-decoration: none;
    color: #fff;
}
.center {
    margin:50%;
    transform: translateX(-50%);
}
/* block btn */
.btn {
    margin-top: 47px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.59541rem;
    line-height: 2.8rem;
    background-color: #000;
    padding: 15px;
    border:1px solid #fff;
    cursor:pointer;
    min-width: 142px;
}
.btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid red;
}
/* header */
.header {
    width: 100%;
    height: auto;
    
}
.contact {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    margin: 0px 190px;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
}
.contact__work {
    display: flex;
    list-style: none;
}
.contact__item:first-child {
    border-right: 1px solid #D7D7D7;
    padding-right: 10px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #2B2B2B;
}
.contact__item:first-child > i {
    font-size: 2rem;
    margin-right: 5px;
}
.contact__item:last-child {
    padding-left: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #2B2B2B;
}
.social {
    display: flex;
    list-style: none;
}
.social__item  a > i {
    font-size: 2rem;
    color: black;
}
.social__item  a > i:hover {
    color: green;
}
.social__item + .social__item {
    margin-left: 20px;
}
/* midder */
.midder {
    width: auto;
    display: flex;
    padding: 19px 0px;
    margin: 0px 190px;
    align-items: center;
}
.logoweb {
    margin-right: 103px;
}
.search {
    display: flex;
    flex-grow: 1;

}
.search__sel {
    padding: 15px 20px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: -0.025em;
    color: #2B2B2B;   
    border: none;
    background: #F4F4F4;
    
}
.search__text {
    flex-grow: 1;
    padding: 17px 26px;
    background: #F4F4F4;
    border: none;
    /* outline: #D7D7D7; */
}
.search__text::placeholder {
    text-transform: capitalize;
}
.search__sel::before {
    content: "1244";
    display: block;
    width: 5px;
    height: 20px;
    background-color: #000;
    margin-right: 19px;
    z-index: 20;
}
.search__btn {
    padding: 17px 24px;
    border: none;
    background-color: rgba(116, 182, 199, 1);
    color: #fff;
}
/* cart */
.cart {
    display: flex;
    margin-left: 95px;
    list-style: none;
}
.cart__item + .cart__item {
    margin-left: 15px;
}
.cart__item a > i {
    font-size: 2rem;
    color: #000;
}
.cart__item a > i:hover {
    color: blue;
}
.cart__item:last-child {
    position: relative;
}
.cart__dot {
    display:block;
    width: 7px;
    height: 7px;
    background-color: red;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}
/* nav */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 190px;
    background-color: rgba(43, 43, 43, 1);
    height: 59px;
}
.nav__menu {
    list-style: none;  
    height: 100%;
    padding: 21px 0px;
    background-color: rgba(116, 182, 199, 1);
    margin-bottom: 0;
    padding-left: 0;
    z-index: 4;
}

.nav__item > a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 19px;
    max-height: 59px; 
}
.nav__item > a > span {
    margin: 0px 9px;
}
.nav__item:hover .nav__sub-menu {
    display: block;
    z-index: 5;
}
.nav__sub-menu {
    overflow: hidden;
    display: none;
    list-style: none;
    margin-top: 21px;
    padding: 0;
    background-color: rgba(116, 182, 199, 1);
    
}
.nav__subitem {
    padding: 10px;
    width: 100%;
    text-align: center;
}
.nav__subitem > a {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration: none;
    text-transform: capitalize;
    color: green;
}
.nav__subitem:hover {
    background-color: yellow;
}
/* navbar */
.navbar {
    display: flex;
    list-style: none;
}
.navbar__item {
    padding: 20px;
}
.navbar__item > a {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar__item:hover > a {
    color: #74B6C7;
}

.navbar__item:nth-child(2){
    position: relative;
    z-index: 3;
}
.navbar__item:nth-child(2):hover .navbar__sub {
    display: block;
}
.navbar__sub {
    width: 200px;
    position: absolute;
    overflow: hidden;
    display: none;
    list-style: none;
    margin-top: 21px;
    padding: 0;
    background-color: rgba(116, 182, 199, 1);
}
.navbar__subitem {
    padding: 10px;
    width: 100%;
   
}
.navbar__subitem > a {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration: none;
    text-transform: capitalize;
    color: green;
}
.navbar__subitem:hover {
    background-color: yellow;
}
/* banner */
.banner {
    width: 100%;
    height:auto;
}
.banner__img {
    position: relative;
    width: 100%;
}
.banner__img > img {
    width: 100%;
    height: auto;
    z-index: 0;
}
.bn-content {
    max-width: 530px;
    position: absolute;
    top:17.5%;
    left: 13.7%;
    z-index: 1;
}
.bn-content__tagline {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 122%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    
}
.bn-content__title {
    margin-top:29px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 122%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.bn-content__special {
    font-weight: 400;
    font-size: 9.6rem;
    line-height: 122%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.bn-content__descrpition {
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: -0.025em;
    color: #FFFFFF;
}

/* icon */
.icon {
    width: 100%;
    display:flex;
    list-style:none;
    padding:43px 190px;
    background: #F5F5F5;
    justify-content:space-between;
}
.icon__item {
    width:calc((100% - 372px)/3);
    display:flex;
    align-items:center;
}
.icon__img {
    margin-right:15px;
}
.icon__title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #414141;
    margin-bottom:7px;
}
.icon__description {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #474747;
}
/* bradns */
.brands {
    width: 100%;
    height: auto;
    padding:63px 199px;
    text-align:center;
}
.brands__title {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 2.3rem;
    color: #2B2B2B;  
    margin-bottom:35px;
    
}
.brands__list {
    height:250px;
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:center;
}
.brands__item {
    width:calc(100%/3);
    height:100%;
    border:1px solid #ccc;
    justify-content:center;
    align-items:center;
    display:flex;
}
/* deal */
.deal {
    width: 100%;
    height: auto;
    background: #313A47;
    padding: 51px 113px 85px;
}
.deal__top {
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
}
.deal__deals {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #FFFFFF;
    text-transform:uppercase;
}
.deal__btn {
    padding:10px 12px;
    cursor:pointer;
}
.deal__btn:hover {
    background-color:#74B6C7;
    color:#fff;
}
.deal__content {
    width:100%;
    display:flex;
    height: 100%;
}
.deal__banner {
    width:50%;
    position:relative;
    height: 100%;
}
.deal__banner::after {
    display:block;
    content:"";
    width:0px;
    height:0px;
    position:absolute;
    top: 3.67%;
    left: 0.876%;
    border-left: 74px solid transparent;
    border-right: 74px solid transparent;
    border-bottom:74px solid #313A47;;
    transform: rotate(-45deg);

}
.deal__banner > img {
    width:100%;
    height: auto;
}
.deal__text {
    width:50%;
    height: 100%;
    background-color: #fff;
    padding:64px 38px;
    position:relative;
    max-height: 799px;
}
.deal__text::before {
    display:block;
    content:"";
    width:0px;
    height:0px;
    position:absolute;
    top: -11px;
    left: -49px;
    border-left: 74px solid transparent;
    border-right: 74px solid transparent;
    border-bottom:74px solid #313A47;;
    transform: rotate(-45deg);

}
.deal__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    /* or 100% */
    max-width:280px;
    margin:auto;
    
    color: #2B2B2B;
}

.deal__description {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: center;
    color: #2B2B2B;
    margin: 19px auto 27px;
    max-width: 410px;
}
.time {
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
}
.time--dot {
    margin: 0px 7px;
    font-size: 2rem;
    font-weight: bold;
}
.time__item {
    display:flex;
    flex-direction:column;
}
.time__number {
    display:block;
    width:84px;
    height:84px;
    border:1px solid black;
    border-radius:50%;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 2.2rem;
    color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time__text {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    /* identical to box height, or 138% */
    text-transform: capitalize;
    text-align: center;
    
    color: #000000;
}
/* product */
.product {
    width: 100%;
    height:auto;
    padding:63px 193px 85px;
    background-color: #fff;
}
.product__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}
.product__item-menu {
    padding:12px;
    min-width: 226px;
    text-align: center;
    border: 2px solid transparent;
}
.product__item-menu:hover {
    border: 2px solid #74B6C7;

}
.product__item-menu:hover > a {
    color: #74B6C7;    
}
.product__item-menu + .product__item-menu {
    margin-left: 10px;
}
.product__item-menu > a {
    font-weight: 700;
    font-size: 2rem;
    line-height: 122%;
    text-transform: uppercase;
    color: #000;
}
.list-product {
    width: 100%;
    flex-wrap: wrap;
    display:flex;
    justify-content:space-between;
}
.list-product__item {
    width: calc((100% - 117px) / 4);
    margin-bottom: 30px;
}
.list-product__item:hover .list-product__name {
    color: red ;
}
.list-product__img {
    width: 100%;
    position:relative;
    padding:25px;
    background: #F8F8F8;
}
.list-product__img:hover > img {
    transform: scale(1.1);
    transition: 0.5s;
}
.list-product__img > img {
    width: 100%;
    height: auto;
}
.list-product__discount,
.list-product__status {
    position: absolute;
    width: 56px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    top: 5px;
}
.list-product__discount  {
    left: 10px;
    border: 2px solid #74B6C7;
    color: #74B6C7;
}
.list-product__status {
    right: 10px;
    border: 2px solid #000;  
    color: #000;
    text-transform: capitalize;
}
.list-product__content {
    width: 100%;
    padding:19px 5px;
}
.list-product__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2B2B2B;
    min-height: 66px;
}
/* letter */
.letter {
    width: 100%;
    background: #74B6C7; 
    padding: 50px 288px;
}
.letter__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.letter__descrpition {
    margin: 27px auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    max-width: 700px;
    text-align: center;
    
    color: #FFFFFF;
}
.letter__form {
    width: 100%;
    display: flex;
    border: 1px solid #FFFFFF;
    padding: 5px;
    
}
.letter__form > input {
    padding: 25px 18px;
    background-color: transparent;
    border: none;
    flex-grow: 1;
}
.letter__form > input::placeholder {
    color: #fff;
    text-transform: capitalize;
}
.letter__btn {
    padding: 15px 30px;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: none;
}
.letter__btn:hover {
    background-color: #ccc;
    color: #000;
}
/* related */
.related {
    width: 100%;
    height: auto;
    padding: 46px 186px;
    position: relative;
}
.related__top {
    margin-bottom: 45px;
}
.related__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 23px;
    color: #2B2B2B;
    margin-bottom: 22px;
    text-align: center;
}
.related__descrption {
    font-weight: 500;
    font-size: 18px;
    line-height: 150.9%;
    text-align: center;
    color: #2B2B2B;
    max-width: 830px;
    margin: auto;
}
.list-related {
    width: 100%;
    flex-wrap: wrap;
    display:flex;
    justify-content:space-between;
}
.list-related__item {
    width: calc((100% - 96px) / 4);
    margin-bottom: 30px;
}
.list-related__item :hover .list-related__name {
    color: red ;
}
.list-related__img {
    width: 100%;
    position:relative;
    padding:25px;
    background: #F8F8F8;
}
.list-related__img:hover > img {
    transform: scale(1.1);
    transition: 0.5s;
}
.list-related__img > img {
    width: 100%;
    height: auto;
}

.list-related__content {
    width: 100%;
    padding:19px 5px;
}
.list-related__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2B2B2B;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.related__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px 18px;
    border: none;
    color: #74B6C7;
    cursor: pointer;
}
.related__btn:hover {
    background-color: #74B6C7;
    color: #fff;
}
.next {
    left: 93px;
}
.prev {
    right: 93px;
}
.related__dots {
    display: flex;
    list-style: none;
    justify-content: center;
}
.related__dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}
.related__dot:hover {
    background-color: #74B6C7;
}
.related__dot + .related__dot {
    margin-left: 10px;
}
/* news */
.news {
    width: 100%;
    height: auto;
}
.news__item {
    display: flex;
}
.news__img {
    width: 50%;
}
.news__text {
    width: 50%;
    padding-top: 81px;
    padding-left: 89px;
    
}
.news__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 138.5%;
    /* or 42px */
    max-width: 458px;
    text-transform: uppercase;
    
    color: #313A47;
}
.news__descrption {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
/* or 181% */
    margin: 27px 0px;
    letter-spacing: -0.025em;
    max-width: 458px;
    color: #313A47;
}
.news__item:last-child {
    flex-direction: row-reverse;
}
/* addcart */
.addcart {
    width: 100%;
    height: auto;
    background: #74B6C7;
    padding: 50px 288px;
}
/* lorem */
.lorem {
    width: 100%;
    height: auto;
    padding: 71px 142px;
}
.lorem__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 23px;
    /* identical to box height, or 64% */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
}
.lorem__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
/* or 160% */
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(43, 43, 43, 0.5);
    margin: 10px 0px;
}
.lorem__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lorem__img {
    width: calc((100% - 120px )/5);
    margin-bottom: 20px;
}
/* footer */
.footer {
    width: 100%;
    height: auto;
    border: 3px solid red;
    padding: 65px 190px;
}
.footer__top {
    width: 100%;
    display: flex;
}
.footer__contact {
    width: 35%;
    border: 1px solid red;
}
.footer__menu {
    width: 25%;
    border: 1px solid red;
}
.footer__goto {
    width: 35%;
    border: 1px solid red;
}

/* banner */

  